:root {
	--accent: #f18260;
	--purple: #252431;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	corner-shape: squircle;
}

body {
	background: #eee;
	padding: 10% 5%;
	font-family: system-ui, sans-serif;
	line-height: 1.4;
}

.warning {
	background: #fff3f3;
	padding: 1rem;
	color: #e50a0a;
	font-size: 0.8rem;
	margin-bottom: 1rem;
	text-align: left;
	border-radius: 1rem;
}

.form-container {
	position: relative;
	background: #fff;
	padding: 2rem;
	border-radius: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 350px;
	min-height: 300px;
	margin: 0 auto;
	box-shadow: 0 10px 50px 0 #ccc;
	margin-bottom: 2rem;
}

input,
button {
	appearance: none;
	border: none;
	font-size: inherit;
	background: #eee;
	border-radius: 1rem;
	padding: 1rem;
	width: 100%;
}

input {
	margin-bottom: 1rem;
}

input:focus {
	outline: 1px solid var(--accent);
}

:has(> [required]) {
	position: relative;

	&::after {
		content: '*';
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		color: var(--accent);
		text-box: trim-start cap alphabetic;
	}
}

button {
	color: #fff;
	cursor: pointer;
	background-color: var(--purple);
}

button:hover {
	background-color: var(--accent);
}

.is-hidden {
	display: none !important;
}

a {
	display: block;
	width: max-content;
	margin: 0 auto;
	color: var(--accent);
	text-decoration: none;
	margin-bottom: 0.5rem;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

.loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-spinner {
	width: 50px;
	height: 50px;
}

.loading-spinner svg {
	position: relative;
	animation: rotate 2s linear infinite;
	height: 50px;
	width: 50px;
}

.loading-spinner circle {
	stroke: var(--accent);
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}
